@{
    ViewData["Title"] = "Admin page";
}
<h1>@ViewData["Title"]</h1>


<article id="app" class="wrapper wrapper-content" >

    <div class=" row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li>
                                                <a v-on:click="$event.preventDefault()" href="#panel-products"
                                                   role="tab"
                                                   data-toggle="tab" aria-expanded="false">Products</a>
                                            </li>
                                            <li>
                                                <a v-on:click="$event.preventDefault()"  href="#panel-clients"
                                                   role="tab"
                                                   data-toggle="tab" aria-expanded="false">Klanten</a>
                                            </li>
                                            <li>
                                                <a v-on:click="" href="#panel-orders"
                                                   role="tab"
                                                   data-toggle="tab" aria-expanded="false">Bestellingen</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane" id="panel-products">
                                                <div class="row">
                                                    <header class="col-md-4">
                                                        <h3>{{message}}</h3>
                                                        <nav>
                                                            <ul class="list-group">
                                                                <li v-for="product in products" v-on:click="fetchProductDetails(product)" :class="getProductClass(product)" style="cursor:pointer">
                                                                    <span class="productName">{{product.name}}</span>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </header>
                                                    <div v-if="currentProduct" class="col-md-4">
                                                        <h3>Details</h3>
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Naam</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentProduct.name" :readonly="isReadOnly">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Artiest</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentProduct.artist.name" v-if="isReadOnly" :readonly="isReadOnly">
                                                                    <select v-model="currentProduct.artist" class="form-control" v-if="!isReadOnly">
                                                                        <option v-for="artist in artists" :value="artist">{{ artist.name }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Genre</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" :value="currentProduct.genre.name" v-if="isReadOnly" :readonly="isReadOnly">
                                                                    <select v-model="currentProduct.genre" class="form-control" v-if="!isReadOnly">
                                                                        <option v-for="genre in genres" :value="genre">{{ genre.name }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">InstrumentType</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" :value="currentProduct.instrumentType.name" v-if="isReadOnly" :readonly="isReadOnly">
                                                                    <select v-model="currentProduct.instrumentType" class="form-control" v-if="!isReadOnly">
                                                                        <option v-for="instrumentType in instrumentTypes" :value="instrumentType">{{ instrumentType.name }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Categorie</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" :value="currentProduct.productType.name" v-if="isReadOnly" :readonly="isReadOnly">
                                                                    <select v-model="currentProduct.productType" class="form-control" v-if="!isReadOnly">
                                                                        <option v-for="productType in productTypes" :value="productType">{{ productType.name }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Beschrijving</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentProduct.description" :readonly="isReadOnly">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">FOTO</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentProduct.foto" :readonly="isReadOnly">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Prijs</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentProduct.price" :readonly="isReadOnly">
                                                                </div>
                                                            </div>
                                                            <button v-on:click="toEditMode(true)" v-if="isReadOnly" class="btn btn-primary">Editeren</button>
                                                            <button v-on:click="toEditMode(false)" v-if="isReadOnly" class="btn btn-warning">Nieuw</button>
                                                            <button v-on:click="deleteProduct()" v-if="isReadOnly" class="btn btn-danger">Verwijderen</button>
                                                            <button v-on:click="save" v-if="!isReadOnly" class="btn btn-primary">Opslaan</button>
                                                            <button v-on:click="cancel" v-if="!isReadOnly" class="btn btn-default">Annuleren</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="tab-pane" id="panel-clients">
                                                <div class="row">
                                                    <header class="col-md-4">
                                                       
                                                        <h3>{{message}}</h3>
                                                        <nav>
                                                            <ul class="list-group">
                                                                <li v-for="client in clients" v-on:click="fetchClientDetails(client)" :class="getClientClass(client)" style="cursor:pointer">
                                                                    <span class="clientName">{{client.id}}</span>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </header>
                                                    <div v-if="currentProduct" class="col-md-4">
                                                        <h3>Details</h3>
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Naam</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentClient.name" :readonly="isReadOnly">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">E-mail</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentClient.email" :readonly="isReadOnly">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Gebruiker Id</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentClient.userId" :readonly="isReadOnly">
                                                                </div>
                                                            </div>


                                                            <button v-on:click="toEditClientMode(true)" v-if="isReadOnly" class="btn btn-primary">Editeren</button>
                                                            <button v-on:click="toEditClientMode(false)" v-if="isReadOnly" class="btn btn-warning">Nieuw</button>
                                                            <button v-on:click="deleteClient()" v-if="isReadOnly" class="btn btn-danger">Verwijderen</button>
                                                            <button v-on:click="saveClient" v-if="!isReadOnly" class="btn btn-primary">Opslaan</button>
                                                            <button v-on:click="cancelForClientForm" v-if="!isReadOnly" class="btn btn-default">Annuleren</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="tab-pane" id="panel-orders">
                                                <div class="row">
                                                    <header class="col-md-4">
                                                       
                                                        <h3>{{message}}</h3>
                                                        <nav>
                                                            <ul class="list-group">
                                                                <li v-for="order in orders" v-on:click="fetchOrderDetails(order)" :class="getOrderClass(order)" style="cursor:pointer">
                                                                    <span class="orderName">{{order.id}}</span>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </header>
                                                    <div v-if="currentOrder" class="col-md-4">
                                                        <h3>Details order</h3>
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Klant nummer</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentOrder.clientId" :readonly="isReadOnly">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Adres</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentOrder.address" :readonly="isReadOnly">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label small">Datum bestelling</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" v-model="currentOrder.dateOrder" :readonly="isReadOnly">
                                                                </div>
                                                            </div>

                                                            <button v-on:click="toEditOrderMode(true)" v-if="isReadOnly" class="btn btn-primary">Editeren</button>
                                                            @*<button v-on:click="toEditOrderMode(false)" v-if="isReadOnly" class="btn btn-warning">Nieuw</button>*@
                                                            <button v-on:click="deleteOrder()" v-if="isReadOnly" class="btn btn-danger">Verwijderen</button>
                                                            <button v-on:click="saveOrder" v-if="!isReadOnly" class="btn btn-primary">Opslaan</button>
                                                            <button v-on:click="cancelForOrderForm" v-if="!isReadOnly" class="btn btn-default">Annuleren</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</article>





@section scripts {
    <script src="~/lib/vue/vue.js"></script>

    <script>
        var apiUri ='https://localhost:44378/api/';
      var app = new Vue({
          el: '#app',
          data: {
            message: 'Loading page...',
                products: null,
                artists: null,
                genres: null,
                instrumentTypes: null,
                productTypes: null,
                clients: null,
                orders:null,
                currentClient: null,
                currentProduct: null,
                currentOrder: null,
                isReadOnly: true,
                isEdit: false
          },

          created: function () {
                var self = this;
                self.fetchProducts();
                self.fetchArtists();
                self.fetchGenres();
                self.fetchInstrumentTypes();
                self.fetchProductTypes();
                self.fetchClients();
                self.fetchOrders();
          },
          methods: {
                fetchProducts: function () {
                    self = this;
                    fetch(`${apiUri}Product/Basic`)
                        .then(res => res.json())
                        .then(function (products) {
                            products.forEach(function (product, i) {
                                product.isActive = false;
                            });
                            self.products = products;
                            self.message = 'Overview';
                            if (self.products.length > 0) {
                                self.fetchProductDetails(self.products[0]);
                            }
                        })

                        .catch(err => console.error('Fout: ' + err));
                },
                fetchProductDetails: function (product) {
                    self = this;
                    if (!self.isReadOnly) return;
                    fetch(`${apiUri}Product/${product.id}`)
                        .then(res => res.json())
                        //.then(function (test) {console.log(test)})
                        .then(function (res) {
                            self.currentProduct = res;
                            self.makeProductActive(product.id);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                makeProductActive: function (productId) {
                    self.products.forEach(function (product) {
                        product.isActive = product.id === productId ? true : false;
                    });
                },

                getProductClass: function (product) {
                    if (product.isActive) return 'list-group-item active';
                    return 'list-group-item';
                },
                fetchArtists: function () {
                    self = this;
                    fetch(`${apiUri}Artists`)
                        .then(res => res.json())
                        //.then(function (test) {console.log(test)})
                        .then(function (res) {
                            self.artists = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchGenres: function () {
                    self = this;
                    fetch(`${apiUri}Genres`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.genres = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },

                 fetchInstrumentTypes: function () {
                    self = this;
                    fetch(`${apiUri}InstrumentTypes`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.instrumentTypes = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                   fetchProductTypes: function () {
                    self = this;
                    fetch(`${apiUri}ProductTypes`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.productTypes = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },


                toEditMode: function (isEdit) {
                    self = this;
                    self.isReadOnly = false;
                    self.isEdit = isEdit;
                    if (!isEdit) {
                        self.currentProduct = { "name": "", "description": "", "foto": "", "price": 0,  "artistId": 0, "artist": { "name": "",  "id": 0 }, "genreId": 0, "genre": { "name": "",  "id": 0 }, "instrumentTypeId":0 , "instrumentType":{ "name": "", "id": 0 },  "productType":{ "name": "", "id": 0 }, "id": 0 };
                    }
                },
                save: function () {
                    var self = this;
                    self.currentProduct.artistId = self.currentProduct.artist.id;
                    self.currentProduct.genreId = self.currentProduct.genre.id;
                    self.currentProduct.instrumentTypeId = self.currentProduct.instrumentType.id;
                    self.currentProduct.productTypeId = self.currentProduct.productType.id;

                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentProduct),
                        headers: ajaxHeaders
                    };

                    if (self.isEdit) {
                        let myRequest = new Request(`${apiUri}Product/${self.currentProduct.id}`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.updateProductList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    else {
                        ajaxConfig.method = 'POST';
                        let myRequest = new Request(`${apiUri}Product/`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.addProductToList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    self.isEdit = false;
                    self.isReadOnly = true;
                },
                addProductToList: function (product) {

                    self.currentProduct.id = product.id;
                    self.products.push(product);
                    self.fetchProductDetails(self.products[self.products.length - 1]);
                },
                updateProductList: function (product) {

                    var updatedProduct = self.products.filter(p => p.id === product.id)[0];
                    updatedProduct.name = product.name;
                },
                cancel: function () {
                    var self = this;
                    self.isReadOnly = true;
                    self.isEdit = false;
                    if (self.isEdit) {
                        self.fetchProductDetails(self.currentProduct);
                    } else {
                        self.fetchProductDetails(self.products[0]);
                    }
                },
                deleteProduct: function () {
                    self = this;
                    fetch(`${apiUri}Product/${self.currentProduct.id}`, { method: 'DELETE' })
                        .then(res => res.json())
                        .then(function (res) {
                            self.products.forEach(function (product, i) {
                                if (product.id === self.currentProduct.id) {
                                    self.products.splice(i, 1);
                                    return;
                                }
                            });
                            if (self.products.length > 0)
                                self.fetchProductDetails(self.products[0]);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },

                // clients

                 fetchClients: function () {
                    self = this;
                    fetch(`${apiUri}Client`)
                        .then(res => res.json())
                        .then(function (clients) {
                            clients.forEach(function (client, i) {
                                client.isActive = false;
                            });
                            self.clients = clients;
                            self.message = 'Overview';
                            if (self.clients.length > 0) {
                                self.fetchClientDetails(self.clients[0]);
                            }
                        })
                        .catch(err => console.error('Fout: ' + err));
                 },

                  fetchClientDetails: function (client) {
                    self = this;
                    if (!self.isReadOnly) return;
                    fetch(`${apiUri}Client/${client.id}`)
                        .then(res => res.json())
                        //.then(function (test) {console.log(test)})
                        .then(function (res) {
                            self.currentClient = res;
                            self.makeClientActive(client.id);
                        })
                        .catch(err => console.error('Fout: ' + err));
                  },

                   makeClientActive: function (clientId) {
                    self.clients.forEach(function (client) {
                        client.isActive = client.id === clientId ? true : false;
                    });
                   },

                   getClientClass: function (client) {
                      if (client.isActive) return 'list-group-item active';
                      return 'list-group-item';
                   },

                   
                toEditClientMode: function (isEdit) {
                    self = this;
                    self.isReadOnly = false;
                    self.isEdit = isEdit;
                    if (!isEdit) {
                        self.currentClient = { "name": "", "password": "", "email": "", "userId": "",  "orders": [] };
                    }
                },
                saveClient: function () {
                    var self = this;
                   

                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentClient),
                        headers: ajaxHeaders
                    };

                    if (self.isEdit) {
                        let myRequest = new Request(`${apiUri}Client/${self.currentClient.id}`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.updateClientList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    else {
                        ajaxConfig.method = 'POST';
                        let myRequest = new Request(`${apiUri}Client/`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.addClientToList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    self.isEdit = false;
                    self.isReadOnly = true;
                },

                  addClientToList: function (client) {

                    self.currentClient.id = client.id;
                    self.clients.push(client);
                    self.fetchClientDetails(self.clients[self.clients.length - 1]);
                },
                updateClientList: function (client) {

                    var updatedClient = self.clients.filter(c => c.id === client.id)[0];
                    updatedClient.name = client.name;
                },
                cancelForClientForm: function () {
                    var self = this;
                    self.isReadOnly = true;
                    self.isEdit = false;
                    if (self.isEdit) {
                        self.fetchClientDetails(self.currentClient);
                    } else {
                        self.fetchClientDetails(self.clients[0]);
                    }
                },
                deleteClient: function () {
                    self = this;
                    fetch(`${apiUri}Client/${self.currentClient.id}`, { method: 'DELETE' })
                        .then(res => res.json())
                        .then(function (res) {
                            self.clients.forEach(function (client, i) {
                                if (client.id === self.currentClient.id) {
                                    self.clients.splice(i, 1);
                                    return;
                                }
                            });
                            if (self.clients.length > 0)
                                self.fetchClientDetails(self.clients[0]);
                        })
                        .catch(err => console.error('Fout: ' + err));
                 },
                //orders

                 fetchOrders: function () {
                    self = this;
                    fetch(`${apiUri}Orders`)
                        .then(res => res.json())
                        .then(function (orders) {
                            orders.forEach(function (order, i) {
                                order.isActive = false;
                            });
                            self.orders = orders;
                            self.message = 'Overview';
                            if (self.orders.length > 0) {
                                self.fetchOrderDetails(self.orders[0]);
                            }
                        })

                        .catch(err => console.error('Fout: ' + err));
                },
                fetchOrderDetails: function (order) {
                    self = this;
                    if (!self.isReadOnly) return;
                    fetch(`${apiUri}Orders/${order.id}`)
                        .then(res => res.json())
                        //.then(function (test) {console.log(test)})
                        .then(function (res) {
                            self.currentOrder = res;
                            self.makeOrderActive(order.id);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                makeOrderActive: function (orderId) {
                    self.orders.forEach(function (order) {
                        order.isActive = order.id === orderId ? true : false;
                    });
              },

                  getOrderClass: function (order) {
                      if (order.isActive) return 'list-group-item active';
                      return 'list-group-item';
                   },

                   
                toEditOrderMode: function (isEdit) {
                    self = this;
                    self.isReadOnly = false;
                    self.isEdit = isEdit;
                    if (!isEdit) {
                        self.currentOrder = { "name": "", "address": "", "dateOrder": "", "clientId": "",  "orderDetails": [] };
                    }
                },
                saveOrder: function () {
                    var self = this;
                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentOrder),
                        headers: ajaxHeaders
                    };

                    if (self.isEdit) {
                        let myRequest = new Request(`${apiUri}Orders/${self.currentOrder.id}`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.updateOrderList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    else {
                        ajaxConfig.method = 'POST';
                        let myRequest = new Request(`${apiUri}Orders/`, ajaxConfig);
                        fetch(myRequest)
                            .then(res => res.json())
                            .then(res => {
                                self.addOrderToList(res);
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    self.isEdit = false;
                    self.isReadOnly = true;
                },

                 addOrderToList: function (order) {

                    self.currentOrder.id = order.id;
                    self.orders.push(order);
                    self.fetchOrderDetails(self.orders[self.orders.length - 1]);
                },
                updateOrderList: function (order) {

                    var updatedOrder = self.orders.filter(o => o.id === order.id)[0];
                    // antes estaba .name
                    updatedOrder.id = order.id;
                },
                cancelForOrderForm: function () {
                    var self = this;
                    self.isReadOnly = true;
                    self.isEdit = false;
                    if (self.isEdit) {
                        self.fetchOrderDetails(self.currentOrder);
                    } else {
                        self.fetchOrderDetails(self.orders[0]);
                    }
                },
                deleteOrder: function () {
                    self = this;
                    fetch(`${apiUri}Orders/${self.currentOrder.id}`, { method: 'DELETE' })
                        .then(res => res.json())
                        .then(function (res) {
                            self.orders.forEach(function (order, i) {
                                if (order.id === self.currentOrder.id) {
                                    self.orders.splice(i, 1);
                                    return;
                                }
                            });
                            if (self.orders.length > 0)
                                self.fetchOrderDetails(self.orders[0]);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
          }


      });
    </script>

}



