@{
    ViewData["Title"] = "Home Page";
}

    <article id="app">
        <header></header>
        <nav class="col-md-9 navbar navbar-default">
            <div class="navbar-fluid">

                <ul class="nav navbar-nav" style="flex-direction: row;">
                    <li v-for="item in productTypes" v-on:click="fetchProducts(item.name)" style="cursor:pointer; margin-right: 50px">
                        <span>{{item.nameForView}}</span>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="row">
            <div class="col-sm-6">
                <div class="fotos" v-for="product in products" v-on:click="getSelectedProduct(product.id)" style="cursor:pointer">
                    <img :src="`https://localhost:44378/api/product/imagebyid/${product.id}`" class="fotosProduct" />
                    <h3>{{ product.name}}</h3>
                    <h2>{{product.id}}</h2>
                    <p>{{product.description}}</p>
                    <p>Meer details</p>
                </div>
                </div>



                <div class="col-sm-6">
                    <div v-model="selectedProduct" class="sticky-top" style="width: 40vw; right: 10px; top:10px; height: 700px; background-color:burlywood">

                        <h3 v-for="value in selectedProduct">{{value.id}}</h3>
                    </div>  
                </div>
               
           
            </div>
    </article>
@section scripts {
    <script src="~/lib/vue/vue.js">
    </script>

<script>

    var apiurl ='https://localhost:44378/api/product';
        var app = new Vue({

            el: '#app',
            data: {

                test: "boodschap",
                 selectedProduct: null,
                products: null,
                productTypes: [{ "nameForView": "Alle Producten", "name": "product" },
                               { "nameForView": "Cds", "name": "Cd" },
                               { "nameForView": "Instrumenten", "name": "Instrument" },
                    { "nameForView": "Partituren", "name": "score" }],
              
            },


            created: function () {
                var self = this;
                self.fetchProducts("product");

            },

            methods: {  
                fetchProducts: function (type) {
                                           
                    self = this;
                    if (type == "product") {
                        fetch(`${apiurl}`)
                        .then(res => res.json())
                         .then(function (products) {
                          self.products = products;
                                })
                     .catch(error => console.log(error))
                    }
                    else 
                    fetch(`${apiurl}/detailByType/${type}`)                    
                    .then(res => res.json())
                    .then(function (products) {
                                    self.products = products;
                                })
                     .catch(error => console.log(error))
                      
                },

                fetchImage: function (imgId) {
                    fetch(`${apiurl}/ImageById/${imgId}`)
                    then(image => images = image);
                },


                getSelectedProduct: function (product) {


                    self = this;
             
                    fetch(`${apiurl}/detail/${product}`)
                        .then(res => res.json())
                         .then(function (detail) {
                             self.selectedProduct = detail;

                                })
                        .catch(error => console.log(error))


                     
                


                }
            }
                                 
        });

    </script>

}

@*<style>
.fotos {
    height: 250px;
    width: 95%;
    border: 1px solid #000;
    margin:15px 5px 15px 5px;
    padding:5px;

}
.fotosHotel {
    height:200px;
    width:250px;
    margin:15px 10px 5px 5px;
    float:left;
}

</style>*@
