@{
    ViewData["Title"] = "Home Page";
}

    <article id="app">
        <header></header>
        <nav class="col-md-9 navbar navbar-default">
            <div class="navbar-fluid">
                
                <ul class="nav navbar-nav" style="flex-direction: row;">
                    <li v-for="item in productTypes" v-on:click="fetchProducts(item.name)" style="cursor:pointer; margin-right: 50px">
                        <span>{{item.nameForView}}</span>
                    </li>
                </ul>
            </div>
        </nav>

      

        <div class="col-md-4">
           
            <div v-for="product in products">
              
                <img :src="`https://localhost:44378/api/product/imagebyid/${product.id}`"/>
                <span v-on:click="">{{ product.name}}</span>
                <span>{{product.artistName}}</span>
            </div>
       
        </div>

        <div id="details">





        </div>
    </article>
@section scripts {
    <script src="~/lib/vue/vue.js">
    </script>

<script>

    var apiurl ='https://localhost:44378/api/product';
        var app = new Vue({

            el: '#app',
            data: {
               
                products: null,
                productTypes: [{ "nameForView": "Alle Producten", "name": "product" },
                               { "nameForView": "Cds", "name": "Cd" },
                               { "nameForView": "Instrumenten", "name": "Instrument" },
                               { "nameForView": "Partituren", "name": "score" }]
            },


            created: function () {
                var self = this;
                self.fetchProducts("product");



            },

            methods: {  
                fetchProducts: function (type) {
                                           
                    self = this;
                    if (type == "product") {
                        fetch(`${apiurl}`)
                        .then(res => res.json())
                         .then(function (products) {
                          self.products = products;
                                })
                     .catch(error => console.log(error))
                    }
                    else 
                    fetch(`${apiurl}/detailByType/${type}`)                    
                    .then(res => res.json())
                    .then(function (products) {
                                    self.products = products;
                                })
                     .catch(error => console.log(error))
                      
                },

                fetchImage: function (imgId) {
                    fetch(`${apiurl}/ImageById/${imgId}`)
                    then(image => images = image);
                }
                    
            }
                                 
        });

    </script>


}
